body {
  font-family: 'Poppins', sans-serif;
}

/* Style untuk navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #83D816;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Style untuk konten di bawah navbar */
.content {
  margin-top: 60px;
  padding: 20px;
}

.blok {
width: 320px;
height: 47px;
left: 27px;
top: 99px;

background: #83D816;
border-radius: 7px;
}
